
    <div class="col-6">
      <%= form_with model: Tweet.new, url: tweets_path, method: :post, local: true do |f| %>
        <%= f.text_field :body, placeholder: "What is on your mind..." %>
        <%= f.submit %>
         <% end %>
        <ul>
        <%= Tweet.find_each do |tweet| %>
        <li><%= tweet.body %></li> 
        <% end %>
        </ul>
    </div>
    <div class="col">
      Column
    </div>
